In [81]:

import numpy as np
import matplotlib.pyplot as pyplot
import pandas as pd

1.

In [82]:
sal = [100,80,75,77,89,33,45,25,65,17,30,24,57,55,70,75,65,84,90,150]
sal = pd.DataFrame(sal, columns=['salary'])
sal

    salary
0      100
1       80
2       75
3       77
4       89
5       33
6       45
7       25
8       65
9       17
10      30
11      24
12      57
13      55
14      70
15      75
16      65
17      84
18      90
19     150

In [83]:
# среднее
mean_sal = sal['salary'].sum()/sal['salary'].count()
mean_sal

65.3

In [84]:
#  среднее квадратичное отклонение
sal_std = np.sqrt(((sal['salary']- mean_sal)**2).sum()/sal['salary'].count())
sal_std

30.823854398825596

In [85]:
# смещенная дисперсия
sal_variance = ((sal['salary']- mean_sal)**2).sum()/sal['salary'].count()
sal_variance

950.11

In [86]:
sal_variance2 = ((sal['salary']- mean_sal)**2).sum()/(sal['salary'].count() -1)
sal_variance2

1000.1157894736842

2.

In [87]:
from math import factorial
import numpy as np
def combi(n,k):
    return int(factorial(n)/(factorial(k)*factorial(n-k)))

In [88]:
p1 = combi(5,2)/combi(10,2)*combi(5,1)/combi(12,1)
p2 = combi(5,1)/combi(10,1)*combi(5,2)/combi(12,2)
p3 = combi(5,0)/combi(10,0)*combi(5,3)/combi(12,3)
p_tot = p1+p2+p3
p_tot

0.21380471380471383

3.

In [89]:
p_tot = 1/3*0.9 +1/3*0.8 +1/3*0.6
p_tot

0.7666666666666666

In [90]:
# вероятность попадания первого спортсмена
pr = 1/3*0.9/p_tot
pr

0.391304347826087

In [91]:
# вероятность попадания второго спортсмена
pr2 = 1/3*0.8/p_tot
pr2

0.3478260869565218

In [92]:
# вероятность попадания третьего спортсмена
pr3 = 1/3*0.6/p_tot
pr3

0.2608695652173913

4.

In [93]:
#  пусть на факультете А и В по х студентов, тогда на С - 2х. полная вероятность равна 1. Тогда х = 1/4
p_t = 1/4*0.8 + 1/4*0.7 +2/4*0.9
p_t

0.825

In [94]:
# вероятность , что студент с факультета А
p_a = (0.8*1/4)/p_t
p_a

0.24242424242424246

In [95]:
# вероятность , что студент с факультета B
p_b = (0.7*1/4)/p_t
p_b

0.21212121212121213

In [96]:
# вероятность , что студент с факультета C
p_c = (0.9*2/4)/p_t
p_c

0.5454545454545455

5.

In [97]:

p_total = 0.1*1/3 + 0.2*1/3+0.25*1/3
p_total

0.18333333333333335

In [103]:
p1 = (0.1*1/3)/p_total
p2=(0.2*1/3)/p_total
p3 = (0.25*1/3)/p_total
#  вероятность, что выдут из строя все детали
c_all = p1*p2*p3
# c_all
c_all

0.0300525920360631

In [99]:
#  вероятность, что выйдут из строя 2 детали
c_2 = p1*p2 + p1*p3 +p2*p3
c_2

0.3140495867768594

In [100]:

# выйдет из строя хотя бы одна деталь
q1= 1-0.1
q2 = 1-0.2
q3 = 1 - 0.25
c_1 = 1-q1*q2*q3
c_1

0.45999999999999996

In [101]:
# выйдет из строя одна деталь
c = p1 + p2 +p3
c
# выйдут из строя от одной до 2-х деталей

0.9999999999999999